<p id="notice"><%= notice %></p>

<h1>Listing Funtions</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Hora</th>
      <th>Sala</th>
      <th>Theater</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funtions.each do |funtion| %>
      <tr>
        <td><%= funtion.movie_id %></td>
        <td><%= funtion.hora %></td>
        <td><%= funtion.sala %></td>
        <td><%= link_to 'Show', funtion %></td>
        <td><%= link_to 'Edit', edit_funtion_path(funtion) %></td>
        <td><%= link_to 'Destroy', funtion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funtion', new_funtion_path %>
