<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cine.name %>
</p>

<p>
  <strong>Theater:</strong>
  <%= @cine.theater_id %>
</p>

<%= link_to 'Edit', edit_cine_path(@cine) %> |
<%= link_to 'Back', cines_path %>
